<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content" >
	<div class="container" th:switch="${#lists.isEmpty(paniers)}">
    	<h2 th:case="true">Le Panier est vide!</h2>
        <div th:case="*">
            <br>
            <h2>Mon Panier :</h2>
            <hr>
            <table id="articleTable" class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Libelle</th>
                    <th>Prix</th>
                    <th>Qte commandé</th>
                
                </tr>
            </thead>
            <tbody>
                <tr th:each="panier : ${paniers}">
                    <td th:text="${panier.article.id}"></td>
                    <td th:text="${panier.article.libelle}"></td>
                     <td th:text="${panier.article.prix}"></td>
                    <td th:text="${panier.qte_cmd}"></td>
                   
                       
                </tr>
            </tbody>
    </table>
 
       <a th:href="@{/validation}"  class="btn btn-success">Valider</a>
    </div>      
   
</div>
</div>
</body>
</html>